.pokemon__data {
  position: absolute;
  font-weight: 500;
  color: #aaa;
  top: 54%;
  right: 28%;
  font-size: clamp(8px, 5vw, 25px);
  max-width: 200px;
  max-height: 31px;
  overflow: hidden;
}

.pokemon__name {
  color: #3a444d;
  text-transform: capitalize;
}